<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/admin-head'); %>
  </head>
  <body id="sherah-dark-light">
		
    <section class="sherah-wc sherah-wc__full sherah-bg-cover">
        <div class="container-fluid p-0">
            <%- body %>
            </div>
            </section>

  <script src="../../assets/js/jquery.min.js"></script>
		<script src="../../assets/js/jquery-migrate.js"></script>
		<script src="../../assets/js/popper.min.js"></script>
		<script src="../../assets/js/jquery-ui.min.js"></script>
		<script src="../../assets/js/bootstrap.min.js"></script>
		<script src="../../assets/js/charts.js"></script>
		<script src="../../assets/js/final-countdown.min.js"></script>
		<script src="../../assets/js/fancy-box.min.js"></script>
		<script src="../../assets/js/fullcalendar.min.js"></script>
		<script src="../../assets/js/datatables.min.js"></script> 
		<script src="../../assets/js/circle-progress.min.js"></script>
		<script src="../../assets/js/jquery-jvectormap.js"></script>
		<script src="../../assets/js/jvector-map.js"></script>
		<script src="../../assets/js/main.js"></script>
		
	</body>
</html>